.Avatar {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    pointer-events: none;
    user-select: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
