.FileInput {
    outline: none;
    border: none;
    background: transparent;
    border-radius: 8px;
    display: block;
    cursor: pointer;
    user-select: none;
    max-width: 132px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input {
    display: none;
}

.primary {
    padding-inline: 9px;
    padding-block: 5px;
    font: var(--font-m);
    background: var(--third-color);
    color: var(--second-color);
    &:hover {
        filter: brightness(93%)
    }
}

.icon {
    &:hover {
        background: var(--ninth-color);
    }
}
