.ProfileMediaImages {

}

.imgStack {
    flex-wrap: wrap;
    height: 100%;
}

.imagesNotFound {
    margin-top: 20px;
}

.imgItem {
    box-shadow: 0 0 3px 0 var(--fifteenth-color);
    border-radius: 2px;
    cursor: pointer;
}
