.ResetPassword {
    flex-shrink: 1;
    margin-bottom: 30px;
}

.entrance {
    margin-bottom: 25px;
}

.lockIcon {
    margin-bottom: 70px;
    margin-right: 7px;
}

.regRecommendation {
    margin-top: 40px;
}
