.Dropdown {
    padding: 6px;
    border-radius: 8px;
    background: var(--twentysecond-color);
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    box-shadow: 0 0 3px -1px var(--ninth-color);
    opacity: 0;
}

.isVisible {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    transition: all 0.2s linear;
}

.item {
    padding: 8px;
    border-radius: 8px;
    user-select: none;
    &:hover {
        background: var(--tenth-color);
    }
}
