.app_dark_theme {
    --first-color: #000000;
    --second-color: #ffffff;
    --third-color: #1D9BF0;
    --fourth-color: #ffffff;
    --fifth-color: #ffffff;
    --sixth-color: #D9D9D9;
    --seventh-color: rgba(83, 100, 113, 0.4);
    --eighth-color: rgba(83, 96, 119, 0.4);
    --ninth-color: #a1a1a1;
    --tenth-color: rgba(255, 255, 255, 0.2);
    --eleventh-color: #d3d3d3;
    --twelfth-color: #ff0000;
    --thirteenth-color: #5aff00;
    --fourteenth-color: #007979;
    --fifteenth-color: #b2b2b2;
    --sixteenth-color: #000000;
    --seventeenth-color: #2d2d2d;
    --eighteenth-color: #D9D9D9;
    --nineteenth-color: #2d2d2d;
    --twentieth-color: #000000;
    --twentyfirst-color: #3a3a3a;
    --twentysecond-color: #2d2d2d;
    --twentythird-color: rgba(0, 0, 0, 0.3);
    --twentyfourth-color: rgba(255, 255, 255, 0.2);
    --twentyfifth-color: #7a7a7a;


    // Переключатель темы
    --toggle-handler-color: #749ED7;
    --toggle-color: #D9D9D9;


    // skeleton
    --skeleton-color: #484848;
    --skeleton-shadow: rgba(133, 133, 133, 0.5);
}
