.app_light_theme {
    --first-color: #ffffff;
    --second-color: #ffffff;
    --third-color: #1D9BF0;
    --fourth-color: #000000;
    --fifth-color: #536471;
    --sixth-color: #0f1419;
    --seventh-color: #c1def6;
    --eighth-color: rgba(0, 0, 0, 0.4);
    --ninth-color: #5e5e5e;
    --tenth-color: rgba(0, 0, 0, 0.1);
    --eleventh-color: #1a1a1a;
    --twelfth-color: #ff0000;
    --thirteenth-color: #5aff00;
    --fourteenth-color: #007979;
    --fifteenth-color: #4f4f4f;
    --sixteenth-color: #ffffff;
    --seventeenth-color: #f1f1f1;
    --eighteenth-color: #000000;
    --nineteenth-color: #c2c2c2;
    --twentieth-color: #71767b;
    --twentyfirst-color: #dedede;
    --twentysecond-color: #ffffff;
    --twentythird-color: rgba(0, 0, 0, 0.3);
    --twentyfourth-color: rgba(178, 178, 178, 0.3);
    --twentyfifth-color: #cbcbcb;



    // Переключатель темы
    --toggle-handler-color: #f5e23a;
    --toggle-color: #ffffff;

    // skeleton
    --skeleton-color: #cecece;
    --skeleton-shadow: #eaeaea;
}
