.ResetPasswordConfirmCode {
    flex-shrink: 1;
    margin-bottom: 30px;
    position: relative;
}

.entrance {
    margin-bottom: 25px;
}

.lockIcon {
    margin-bottom: 60px;
    margin-right: 7px;
}

.phoneSentCode {
    margin-bottom: 20px;
}

.promptCode {
    position: absolute;
    top: -40px;
    right: -610px;
    width: 390px;
}

.sendCodeAgainBtn {
    margin-top: 8px;
}
