.FollowerCard {
    padding-inline: 10px;
    padding-block: 5px;
}

.contentWrapper {
    width: 100%;
}

.infoWrapper {
    width: 252px;
}

.fullName {
    margin-bottom: 5px;
    width: 100%;
}

.city {
    width: 100%;
}

