.ProfileRecommendation {
    padding-inline: 10px;
    padding-block: 5px;
    width: 100%;
}

.infoWrapper {
    width: 53%;
}

.fullName {
    margin-bottom: 5px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.city {
    width: 100%;
}
